1.Write a for loop to print the following pattern using nested loops:

1
12
123
1234
12345

In [ ]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(j, end='')
    print()

1
12
123
1234
12345

2.Given the dictionary below, convert each student’s marks into grades based on the following criteria:

80–100 → A

70–79 → B

Below 70 → C
marks = {"Alice": 85, "Bob": 72, "Charlie": 90, "David": 67}

In [ ]:
marks = {"Alice": 85, "Bob": 72, "Charlie": 90, "David": 67}
grades = {}

for name, score in marks.items():
    if score >= 80:
        grades[name] = 'A'
    elif score >= 70:
        grades[name] = 'B'
    else:
        grades[name] = 'C'

print(grades)

{'Alice': 'A', 'Bob': 'B', 'Charlie': 'A', 'David': 'C'}

3.Write a for loop to find all numbers between 1 and 30 that are divisible by 3 or 5, but not both.

In [ ]:
result = []

for i in range(1, 31):
    if (i % 3 == 0 or i % 5 == 0) and not (i % 3 == 0 and i % 5 == 0):
        result.append(i)

print(result)

[3, 5, 6, 9, 10, 12, 18, 20, 21, 24, 25, 27]

4.Write a function that takes a list of fruits and prints each fruit with its index number.

In [ ]:
def print_fruits(fruits):
    for index, fruit in enumerate(fruits, start=1):
        print(f"Fruit {index}: {fruit}")

# Test
fruits = ["apple", "banana", "cherry", "date"]
print_fruits(fruits)

Fruit 1: apple
Fruit 2: banana
Fruit 3: cherry
Fruit 4: date

5.Write a function that takes two lists — one of names and one of scores — and prints them together.

In [ ]:
def print_scores(names, scores):
    for name, score in zip(names, scores):
        print(f"{name} scored {score}")

# Test
names = ["Aman", "Priya", "Rahul"]
scores = [89, 95, 72]
print_scores(names, scores)

Aman scored 89
Priya scored 95
Rahul scored 72