In [ ]:
class computer:
    def config(self):
      print('i5,16gb,1tb')
comp1=computer()
computer.config(comp1)
comp1.config()

i5,16gb,1tb
i5,16gb,1tb

In [ ]:
class human:
  def walk(self):
    print("20e,30s,40w")
pooja=human()
pooja.walk()
human.walk(pooja)

20e,30s,40w
20e,30s,40w

In [ ]:
# constructor
class computer:
  def __init__(self):
    print('in init block')

  def config(self):
    print('i5,16gb,1tb')
comp1=computer()
comp2=computer()
computer.config(comp1)
computer.config(comp2)
comp1.config()
comp2.config()

in init block
in init block
i5,16gb,1tb
i5,16gb,1tb
i5,16gb,1tb
i5,16gb,1tb

In [ ]:
class computer:
  def __init__(self,cpu,ram,rom):
    self.x = cpu
    self.y = ram
    self.z = rom

  def config(self):
     print('config is :',self.x,self.y,self.z)

comp1=computer('i5','16gb','1tb')
comp2=computer('exynos','32gb','5tb')
computer.config(comp1)
computer.config(comp2)

config is : i5 16gb 1tb
config is : exynos 32gb 5tb

In [ ]:
class a:
  def __init__ (self):
     self.name = 'mansi'
     self.age  =19
c1 = a()
c2 = a()
print(c1.name)
print(c2.age)

mansi
19

In [ ]:
class a:
  def __init__ (self):
     self.name = 'mansi'
     self.age  =19
c2.name = 'ram'
c2.age = 20
print(c2.name)
print(c2.age)
print(c1.name)
print(c1.age)

ram
20
mansi
19

In [ ]:
class A:
  def __init__ (self):
     self.name = 'mansi'
     self.age  =19
  def update(self):
    self.age = 20
c1 =A()
c2 =A()
c1.name = 'rahul'
c1.age = 30
print(c1.name)
print(c1.age)
c1.update()
print(c1.age)
print(c2.age)
print(c1.name)
print(c2.name)

rahul
30
20
19
rahul
mansi

In [ ]:
class car:#class generated
  wheels = 4
  def __init__(self,milaege,company):
    self.milaege = milaege
    self.company = company
c1 = car(29,'bmw')
c2 = car(18,'tata')
print('car 1:',c1.company,",milaege:",c1.milaege,",wheels:",c1.wheels)
print('car 2:',c2.company,",milaege:",c2.milaege,",wheels:",c2.wheels)
car.wheels = 6
print("\nAfter changing class variable:")
print("car 1:",c1.company,",milaege:",c1.milaege,",wheels:",c1.wheels)
print("car 2:",c2.company,",milaege:",c2.milaege,",wheels:",c2.wheels)

car 1: bmw ,milaege: 29 ,wheels: 4
car 2: tata ,milaege: 18 ,wheels: 4

After changing class variable:
car 1: bmw ,milaege: 29 ,wheels: 6
car 2: tata ,milaege: 18 ,wheels: 6

In [ ]:
class A:
 def __init__(self):
   self.name ="mansi"
   self.age  = 19
 def update(self):
    self.age = 20
 def compare(self,other):
    if self.age == other.age:
      return True
    else:
      return False
c1 =A()
c2 =A()
c2.update()
if c1.compare(c2):
     print('they are same')
else:
     print('they are different')
print(c1.age)
print(c2.age)

they are different
19
20

In [ ]:
class mobile:
  model=5
  def __init__(self,brand,price,gb):
    self.brand = brand
    self.price= price
    self.gb = gb
c1 = mobile('oppo',15000,16)
c2 = mobile('sumsang',20000,25)
c3 = mobile('oneplus',30000,32)
print('mobile 1: brand:',c1.brand,", price:",c1.price,", gb:",c1.gb,", model:",c1.model)
print('mobile 2: brand:',c2.brand,", price:",c2.price,", gb:",c2.gb,", model:",c2.model)
print('mobile 3: brand:',c3.brand,", price:",c3.price,", gb:",c3.gb,", model:",c3.model)
print("\nAfter changing class variable:")
mobile.model =6
print('mobile 1: brand:',c1.brand,", price:",c1.price,", gb:",c1.gb,", model:",c1.model)
print('mobile 2: brand:',c2.brand,", price:",c2.price,", gb:",c2.gb,", model:",c2.model)
print('mobile 3: brand:',c3.brand,", price:",c3.price,", gb:",c3.gb,", model:",c3.model)

mobile 1: brand: oppo , price: 15000 , gb: 16 , model: 5
mobile 2: brand: sumsang , price: 20000 , gb: 25 , model: 5
mobile 3: brand: oneplus , price: 30000 , gb: 32 , model: 5

After changing class variable:
mobile 1: brand: oppo , price: 15000 , gb: 16 , model: 6
mobile 2: brand: sumsang , price: 20000 , gb: 25 , model: 6
mobile 3: brand: oneplus , price: 30000 , gb: 32 , model: 6

In [ ]:
class counter:
  count = 0
  def __init__(self):
    self.count +=1
c1 = counter()
c2 = counter()
print(c1.count,c2.count,counter.count)

1 1 0

In [ ]:
class counter:
  count = 0
  def __init__(self):
    counter.count +=1
c1 = counter()
c2 = counter()
print(c1.count,c2.count,counter.count)

2 2 2

**pillers of oops**
**1. inheritance**
**2. abstraction**
**3. polymorphism**
**4. encapsulation **

In [ ]:
#1 . inheritance
class A:
  def feat1(self):
    print('feature 1 working')
  def feat2(self):
    print('feature 2 working')
  def feat3(self):
    print('feature 3 working')
a1 = A()
a2 = A()
a1.feat1()
a1.feat2()
a1.feat3()

feature 1 working
feature 2 working
feature 3 working

In [ ]:
 # single level inheritance.

class A: #super class\parent class
  def feat1(self):
    print('feature 1 working')
  def feat2(self):
    print('feature 2 working')
  def feat3(self):
    print('feature 3 working')

class B(A): # sub class\child class
  def feat4(self):
    print('feature 4 working')
  def feat5(self):
    print('feature 5 working')
a1 = A()
b1 = B()
a1.feat1()
b1.feat1()

feature 1 working
feature 1 working

In [ ]:
# multi-level inheritance
class A: #super class\parent class
  def feat1(self):
    print('feature 1 working')
  def feat2(self):
    print('feature 2 working')
  def feat3(self):
    print('feature 3 working')


class B(A): # sub class\child class
  def feat4(self):
    print('feature 4 working')
  def feat5(self):
    print('feature 5 working')

class C(B):  # sub class\child clas
  def feat6(self):
    print('feature 6 working')
  def feat7(self):
    print('feature 7 working')

a1 = A()
b1 = B()
c1 = C()
a1.feat1()
a1.feat2()
b1.feat1()
c1.feat6()

feature 1 working
feature 2 working
feature 1 working
feature 6 working

In [ ]:
# multiple inheritance
class A: #super class\parent class
  def feat1(self):
    print('feature 1 working')
  def feat2(self):
    print('feature 2 working')
  def feat3(self):
    print('feature 3 working')


class B(A): # sub class\child class
  def feat4(self):
    print('feature 4 working')
  def feat5(self):
    print('feature 5 working')

class C(B,A):  # sub class\child clas
  def feat6(self):
    print('feature 6 working')
  def feat7(self):
    print('feature 7 working')

a1 = A()
b1 = B()
c1 = C()
b1.feat1()
c1.feat1()
c1.feat6()

feature 1 working
feature 1 working
feature 6 working

In [ ]:
class A:
  def __init__(self):
    print("in init block of A")
  def feat1(self):
    print("feature 1 working")
class B(A):
  def feat2(self):
    print("feature 2 working")
b1 = B()
a = B()

in init block of A
in init block of A

In [ ]:
class A:
  def __init__(self):
    print("in init block of A")
  def feat1(self):
    print("feature 1 working")
class B(A):
   def __init__(self):
    print("in init block of B")
   def feat2(self):
    super().__init__()
    print("feature 2 working")
a = B()

in init block of B

In [ ]:
class A:
  def __init__(self):
    print("in init block of A")

  def feat1(self):
    print("feature 1 working")

class B:
  def __init__(self):
    print("in init block of B")
    super().__init__()
  def feat2(self):
    print("feature 2 working")
class C(A,B): # Changed the order of base classes
  def feat3(self):
    print("feature 3 working")

a1 = C()

in init block of A

In [ ]:
class A:
  def __init__(self):
    print("in init block of A")

  def feat1(self):
    print("feature 1 working")

class B:
  def __init__(self):
    print("in init block of B")
    super().__init__()
  def feat2(self):
    print("feature 2 working")
class C(B,A): # Changed the order of base classes
  def feat3(self):
    print("feature 3 working")

a1 = C()

in init block of B
in init block of A

**SECOND PILLER OF OPPS**
**POLYMORPHISM**
(**for different class if there be same method performing task it called ploymorphism**)

In [ ]:
class laptop:
  def wap(self,ide):
    ide.excute()
class en1:
  def excute(self):
    print('compiling')
class en2:
  def excute(self):
    print('running')
ide = laptop()
ide.wap(en1())
ide.wap(en2())

compiling
running

In [ ]:
class laptop:
  def wap(self,ide):
    ide.excute()
class en1:
  def excute(self):
    print('compiling')
class en2:
  def excute(self):
    print('running')
ide=en2()
lap1=laptop()
lap1.wap(ide)

running

In [ ]:
class env:
  def excute(self):
    print('compiling')
class env1:
  def excute(self):
    print('running')
    print('grammer check')
class env2:
  def excute(self):
    print('compiling')
    print('running')
    print('grammer check')
class laptop:
  def code(self,ide):
    ide.excute()
ide = env2()
lap1 = laptop()
lap1.code(ide)

compiling
running
grammer check

**encapsulation**