In [ ]:
#1.write a python programe to print a table of 2 to 20.
for i in range (2,21):
    print(f"table of {i}")
    for j in range(1,11):
        print(f"{i}*{j} = {i*j}")

table of 2
2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20
table of 3
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
3*10 = 30
table of 4
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
4*10 = 40
table of 5
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50
table of 6
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
6*10 = 60
table of 7
7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
7*10 = 70
table of 8
8*1 = 8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72
8*10 = 80
table of 9
9*1 = 9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81
9*10 = 90
table of 10
10*1 = 10
10*2 = 20
10*3 = 30
10*4 = 40
10*5 = 50
10*6 = 60
10*7 = 70
10*8 = 80
10*9 = 90
10*10 = 100
table of 11
11*1 = 11
11*2 = 22
11*3 = 33
11*4 = 44
11*5 = 55
11*6 = 66
11*7 = 77
11*8 = 88
11*9 = 99
11*10 = 110
table of 12
12*1 = 12
12*2 = 24
12*3 = 36
12*4 = 48
12*5 = 60
12*6 = 72
12*7 = 84
12*8 = 96
12*9 = 108
12*10 = 120
table of 13
13*1 = 13
13*2 = 26
13*3 = 39
13*4 = 52
13*5 = 65
13*6 = 78
13*7 = 91
13*8 = 104
13*9 = 117
13*10 = 130
table of 14
14*1 = 14
14*2 = 28
14*3 = 42
14*4 = 56
14*5 = 70
14*6 = 84
14*7 = 98
14*8 = 112
14*9 = 126
14*10 = 140
table of 15
15*1 = 15
15*2 = 30
15*3 = 45
15*4 = 60
15*5 = 75
15*6 = 90
15*7 = 105
15*8 = 120
15*9 = 135
15*10 = 150
table of 16
16*1 = 16
16*2 = 32
16*3 = 48
16*4 = 64
16*5 = 80
16*6 = 96
16*7 = 112
16*8 = 128
16*9 = 144
16*10 = 160
table of 17
17*1 = 17
17*2 = 34
17*3 = 51
17*4 = 68
17*5 = 85
17*6 = 102
17*7 = 119
17*8 = 136
17*9 = 153
17*10 = 170
table of 18
18*1 = 18
18*2 = 36
18*3 = 54
18*4 = 72
18*5 = 90
18*6 = 108
18*7 = 126
18*8 = 144
18*9 = 162
18*10 = 180
table of 19
19*1 = 19
19*2 = 38
19*3 = 57
19*4 = 76
19*5 = 95
19*6 = 114
19*7 = 133
19*8 = 152
19*9 = 171
19*10 = 190
table of 20
20*1 = 20
20*2 = 40
20*3 = 60
20*4 = 80
20*5 = 100
20*6 = 120
20*7 = 140
20*8 = 160
20*9 = 180
20*10 = 200

# New Section

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#2. write a python programe to print  1a,1b,1c,  2a,2b,2c  ,3a,3b,3c  ,4a ,4b,4c using for loop.
for i in range(1,5):
  for j in ['a','b','c']:
    print(f"{i}{j}" ,end=",")

1a,1b,1c,2a,2b,2c,3a,3b,3c,4a,4b,4c,

In [ ]:
#3. print all possible combination of outcomes for 2 dice -roll fair.
for i in range(1, 7):
  for j in range(1, 7):
    print(f"({i},{j})" ,end="")

(1,1)(1,2)(1,3)(1,4)(1,5)(1,6)(2,1)(2,2)(2,3)(2,4)(2,5)(2,6)(3,1)(3,2)(3,3)(3,4)(3,5)(3,6)(4,1)(4,2)(4,3)(4,4)(4,5)(4,6)(5,1)(5,2)(5,3)(5,4)(5,5)(5,6)(6,1)(6,2)(6,3)(6,4)(6,5)(6,6)

In [ ]:
#4. A
#   A B
#   A B C D
#   A B C D E
for i in range(1,6):
  for j in range(65, 65 + i):
    print(chr(j), end="")
  print()

A
AB
ABC
ABCD
ABCDE

In [ ]:
#5.1
#  1 2
#  1 2 3
#  1 2 3 4
#  1 2 3 4 5
for i in range(1,6):
  for j in range(1, i + 1):
    print(j, end="")
  print()

1
12
123
1234
12345

In [ ]:
# 6. 5 4 3 2 1
#    5 4 3 2
#    5  4 3
#    5 4
#    5
for i in range(5, 0, -1):
    for j in range(5, i-1, -1):
       print(j, end="")
    print()

5
54
543
5432
54321

In [ ]:
#7. *
#   * *
#   * * *
#   * * * *
for i in range(1, 6):
   for j in range (i):
     print("*", end="")
   print()

*
**
***
****
*****

In [ ]:
#8.  *
#   * * * *
#   * * * * *
#   * * * * * * *
for i in range(1, 9):
   for j in range (i):
     print("*", end="")
   print()

*
**
***
****
*****
******
*******
********

In [ ]:
#9 . 1
#   1 2 3
#   1 2 3 4 5
#   1 2 3 4 5  6 7


for i in range(1, 8):
  for j in range(1, i + 1):
    print(j, end="")
  print()

1
12
123
1234
12345
123456
1234567

In [ ]:
#10. A
#   A B C
#   A B C D
#   A B C D E F G
for i in range(1,8):
  for j in range(65, 65 + i):
    print(chr(j),end="")
  print()

A
AB
ABC
ABCD
ABCDE
ABCDEF
ABCDEFG

In [ ]:
#11. 1
#    1 1
#    1 2 1
#    1 3 3 1
#    1 4 6 4 1
#    1 5 10 10 5 1
from math import comb
n=6
for i in range(n):
  print(" " *(n - 1),end="")
  for j in range(i+1):
     print(comb(i ,j),end=" ")
  print()

     1
     1 1
     1 2 1
     1 3 3 1
     1 4 6 4 1
     1 5 10 10 5 1